@import '~@fluentui/react/dist/sass/References.scss';
@import '../../../global/colors.scss';

.holidays {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: auto;
}

.dropdown-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.holidays .dropdown {
  height: fit-content;
  width: fit-content;
}

.scrollable-container {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 100%;
  overflow-y: scroll;
  background-color: transparent;
  overflow-x: hidden;
}

.item-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  background-color: $primaryBlue;
  border-radius: 5px;
}

.item-container:last-of-type {
  margin-bottom: 0;
}

.date-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $chrome;
  text-align: right;
  padding: 10px;
  width: 60px;
  height: 60px;
}

.item-container p {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.date-container p:first-of-type {
  font-size: 24px;
  font-weight: bolder;
}

.date-container p:last-of-type {
  font-size: 16px;
  font-weight: bold;
}

.item-container img {
  flex-basis: 50px; /* Set a fixed width for the image */
}

.content {
  flex-grow: 1;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.content h3 {
  margin: 0px;
  padding: 0px;
  margin-bottom: 10px;
  font-size: 18px;
}

.content p {
  font-size: 12px;
}