$white: white;
$black: black;
$primaryBlue: #009CDE;
$mediumBlue: #0067AC;
$green: #93C90F;
$orange: #FF8F1C;
$purple: #8E3A80;
$deepOrange: #F37021;
$darkBlue: #00558C;
$chrome: #D9E1E2;
$sky: #B7DDE1;
$wine: #621244;
$rust: #A6192E;
$wheat: #FFC72C;