@import '~@fluentui/react/dist/sass/References.scss';
@import '../../../global/colors.scss';

.birthdays {
  width: 100%;
  height: auto;
}

.header {
  background-color: $primaryBlue;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.scrollable-container {
  overflow-y: scroll;
  width: 100%;
  height: 600px;
}

.birthday-item {
  display: flex;
  flex-direction: column;
  height: 400px;
  background-color: $chrome;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
}

.birthday-item:last-child {
  margin-bottom: 0px;
}

.image-container {
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.text-container {
  margin: 10px;
}

.text-content {
  flex: 1;
}